<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xincl.dao.BlogMapper">
    <insert id="insertBlog" parameterType="blog">
        insert into school.blog(id, title, author, create_time, views)
        values (#{id},#{title},#{author},#{create_time},#{views});
    </insert>

    <select id="queryBlog" parameterType="map" resultType="blog">
        select * from school.blog
        <where>
        <if test="title != null">
            and title = #{title}
        </if>
        <if test="author != null">
            and author = #{author}
        </if>
        </where>
    </select>

    <select id="queryBlog2" parameterType="map" resultType="blog">
        select * from school.blog
        <where>
           <choose>
               <when test=" title != null">
                   title = #{title}
               </when>
               <when test=" author != null">
                   and author = #{author}
               </when>
               <otherwise>
                   and views = #{views}
               </otherwise>
           </choose>
        </where>
    </select>
</mapper>
